<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mosaic</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="refresh" content="{{.Config.Refresh}}" />
	<style>
	body {
		display: grid;
		grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
		grid-gap: 1px;
	}
	img {
		width: 100%;
	}
	.cell {
		display: flex;
		flex-direction: column;
	}
	.cell>*:first-child {
		flex-grow: 1;
	}
	.error {
		background-color: red;
	}
	.name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	</style>
</head>
<body>
	{{range .Images}}
	<div class="cell">
		{{if .Data}}
		<img src="data:image/png;base64,{{.Data}}" />
		{{else}}
		<div class="error"></div>
		{{end}}
		<div class="name">{{.Name}}</div>
	</div>
	{{end}}
</body>
</html>
